@import url('react-datepicker/dist/react-datepicker-css');

.react-datepicker__tab-loop{
    position: fixed;
    z-index:20;
}

.react-datepicker{
    margin-top: -8px;
    overflow: hidden;
    border-radius: 10px !important;
    border-color: #b2d2df;
    box-shadow: 0px 12px 24px -8px rgba(53, 119, 147, 0.16);
}

.react-datepicker__header{
    background-color: #ffffff !important;
    border-bottom: unset;
    margin-top: 18px;
    padding: 0;
}

.react-datepicker__navigation-icon {
    /* top: 6px !important;*/
}

.react-datepicker__day-names{
    margin-top: 16px;
}

.react-datepicker__day-name {
    text-transform: uppercase;
    font-size: 12px;
    color: #808b95;
    padding: 2px;
    width: 32px;
    height: 32px;
}

.react-datepicker__month{
    margin-bottom: 10px;
}

.react-datepicker__navigation{
    margin-top: 18px;
    margin-bottom: 24px;
}

.react-datepicker__day--selected:hover{
    background-color: #3f8eaf !important;
}

.react-datepicker__day:hover{
    background-color: #f5f9fa;
}

.react-datepicker__day{
    width: 32px;
    padding: 3px;   
    height: 32px;
}

.react-datepicker__day--today{
    font-weight: 400 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    color: #fff;
    background-color: #3f8eaf !important;
}

.react-datepicker__current-month {
    color: var(--neutral-10, #191d21) !important;
    text-transform: capitalize;
    font-weight: 600 !important;
}

.react-datepicker__navigation-icon:before{
    border-width: 2px 2px 0px 0 !important;
    border-color: #191d21;
}